# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
**/.venv

# next.js
frontend/.next/
frontend/out/

# production
**/build
**/dist

# debug
*.log*

# env files
.env
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# Database
**/better-auth_migrations/
*.db
**/*.db
**/*.db-journal
frontend/next-env.d.ts
